---
// Layouts
import Layout from "../../layouts/Layout.astro";
//Components
import Navbar from "../../components/Navbar.astro";
import CardProject from "../../components/Card_Project.astro";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

changeLanguage("pt");
---

<Layout>
<div class='flex size_window'>
	<Navbar/>
    <div class="flex justify-center xl:items-center mx-auto w-full xl:gap-24 md:gap-4">
		<div class="flex flex-col gap-2 float-left">
			<div class="md-color font-bold">
				<h1 class="text-3xl xl:text-8xl md:text-5xl  text-center">{t("projects.title")}</h1>
			</div>
            <div class="flex flex-col  xl:justify-center text-center gap-2 p-2 m-2 overflow-y-auto">
                <h1 class="text-white text-xl xl:text-4xl md:text-2xl">{t("projects.sub_one")}</h1>
                <div class=" flex flex-wrap gap-1 justify-center">
                    <CardProject title="BUG TRACKER" description={t("card_project.descriptions.bug_tracker")} link={localizePath("/projects/1")} categories={['Reactjs ', '+ Tauri ', '+ Javascript']}/>
                    <CardProject title="Portfolio" description={t("card_project.descriptions.portfolio")} link={localizePath("/projects/2")} categories={['Reactjs ', '+ Django']}/>
					<CardProject title="GOTO PROJECT" description={t("card_project.descriptions.goto")} link={localizePath("/projects/3")} categories={['Reactjs ', '+ Tauri ', '+ Javascript']}/>
					<CardProject title="Hotel Project" description={t("card_project.descriptions.hotel_project")} link={localizePath("/projects/4")} categories={['Reactjs ', '+ Django']}/>
                </div>
                <h1 class="text-white text-xl xl:text-4xl md:text-2xl">{t("projects.sub_two")}</h1>
                <div class=" flex gap-2 justify-center">
                    <CardProject title="Clothing Shop" description={t("card_project.descriptions.clothing_shop")} link={localizePath("/projects/5")} categories={['Reactjs ', '+ Javascript', '+ Firebase']}/>
                </div>
            </div>
		</div>
        
    </div>
</div>
</Layout>

<style>

	.size_window{
		height:100vh;
	}

	@media(max-height:2000px){
		.size_window{
			height: 100%;
		}
	}

	.lg-color{
		color:var(--lighter-color)
	}
	.md-color{
		color:var(--mid-color);
	}
	.dk-color{
		color: var(--darker-color);
	}

	.md-border:hover{
		border:1px solid var(--mid-color);
		color:var(--mid-color)
	}

</style>