---
// Layouts
import Layout from "../../layouts/Layout.astro";
import Main from "../../layouts/Main.astro";
//Components
import Navbar from "../../components/Navbar.astro";
import CardSkill from "../../components/Card_Skill.astro";
import ContactButton from "../../components/Contact_Button.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("pt");
---

<Layout>
<div class='flex sm:h-screen'>
	<Navbar/>
	<Main myClass="flex  sm:items-center w-full xl:pl-2 md:pl-2">
		<div class="flex flex-col sm:flex-row gap-2 ">
			<div class="w-full sm:w-1/2 sm:text-2xl self-center lg-color font-semibold pb-2 xl:pb-0 border-b-2 xl:border-0 md:border-0">
                <h1 class="m-2 p-2 text-4xl"><span class="m-0 md-color text-5xl">{t("skills.first_letter")}</span>{t("skills.title")}</h1>
				<p class="m-2 p-2">{t("skills.text_one")}</p>
                <p class="m-2 p-2">{t("skills.text_two")}</p>
				<div class="ml-2 pl-2 xl:ml-0 xl:pl-0 md:pl-0 md:ml-0">
					<ContactButton/>
				</div>
				
			</div>
            <div class="flex flex-col sm:w-1/2 p-2 ">
                <h1 class="text-2xl xl:text-3xl md:text-xl bglg-color dk-color font-bold w-fit mb-4 px-1 rounded">{t("skills.sub_one")}</h1>
                <CardSkill tech="Front-end" progress={60}/>
                <CardSkill tech="Back-end" progress={55}/>
                <CardSkill tech="ReactJs" progress={50}/>
                <CardSkill tech="Django" progress={60}/>
                <h1 class="text-2xl xl:text-3xl md:text-xl bglg-color dk-color font-bold w-fit mb-4 mt-2 px-1 rounded">{t("skills.sub_two")}</h1>
                <CardSkill tech="Javascript" progress={60}/>
                <CardSkill tech="Python" progress={70}/>
                <CardSkill tech="Rust" progress={20}/>
                <CardSkill tech="Java" progress={45}/>
                <CardSkill tech="PHP" progress={45}/>
                <CardSkill tech="Pascal" progress={30}/>
                <h1 class="text-2xl xl:text-3xl md:text-xl bglg-color dk-color font-bold w-fit mb-4 mt-2 px-1 rounded">{t("skills.sub_three")}</h1>
                <CardSkill tech="SQL" progress={80}/>
                <CardSkill tech="NO-SQL" progress={60}/>

            </div>
		</div>
	</Main>
</div>
</Layout>

<style>
	.lg-color{
		color:var(--lighter-color)
	}
	.md-color{
		color:var(--mid-color);
	}
	.dk-color{
		color: var(--darker-color);
	}

	.md-border:hover{
		border:1px solid var(--mid-color);
		color:var(--mid-color)
	}

    .bglg-color{
		background-color:var(--lighter-color)
	}
	.bgmd-color{
		background-color:var(--mid-color);
	}
	.bgdk-color{
		background-color: var(--darker-color);
	}

</style>