---
// Layouts
import Layout from "../layouts/Layout.astro";
//Components
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout>
    <div class='size_window overflow-hidden'>
        <Navbar/>
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-5xl md:text-8xl font-bold text-[#fffdfc] underline uppercase my-2">Projects</h1>
            <h3 class="text-xl md:text-4xl text-[#f79428]">personal</h3>
            <div class="px-4 mt-2 mx-4 flex gap-2 overflow-x-hidden	snap-x ">
                <div class="flex gap-2 animate">
                    <ProjectCard/>
                    <ProjectCard/>
                    <ProjectCard/>
                    <ProjectCard/>
                </div>
            </div>
            <h3 class="text-xl md:text-4xl text-[#f79428]">other</h3>
            <div class="px-4 mt-2 mx-4 flex gap-2 overflow-x-hidden	snap-x ">
                <div class="flex gap-2 animate2">
                    <ProjectCard/>
                    <ProjectCard/>
                    <ProjectCard/>
                    <ProjectCard/>
                </div>
            </div>
        </div>
    </div>
</Layout>

    <style>

        @keyframes move_projects{
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-300%);
            }
           
        }

        .animate{
            animation: move_projects 7s ease infinite alternate;
        }

        .animate2{
            animation: move_projects 7s ease infinite alternate-reverse;
        }

        .animate:hover{
            animation-play-state: paused;
        }

        .animate2:hover{
            animation-play-state: paused;
        }

        @media (min-width: 720px) {
            @keyframes move_projects{
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-120%);
            }
           
        }

        .animate{
            animation: move_projects 7s ease infinite alternate;
        }

        .animate2{
            animation: move_projects 7s ease infinite alternate-reverse;
        }
        }

        .size_window{
            height:100vh;
        }
    
        @media(max-height:2000px){
            .size_window{
                height: 100%;
            }
        }
    
        .lg-color{
            color:var(--lighter-color)
        }
        .md-color{
            color:var(--mid-color);
        }
        .dk-color{
            color: var(--darker-color);
        }
    
        .md-border:hover{
            border:1px solid var(--mid-color);
            color:var(--mid-color)
        }
    
    </style>