<div>
    <button id="myBtn">Top</button>
</div>

<style>
    #myBtn{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        font-weight: bold;
        border: none;
        outline: none;
        background-color: #fffdfc;
        color: #512611;
        cursor: pointer;
        padding: 8px;
        border-radius: 4px;
    }
</style>

<script>

let mybutton = document.getElementById("myBtn");
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
mybutton.addEventListener('click', ()=>{
    document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
})
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>