---
export interface Props{
    title:string;
    description:string;
    link:string;
    categories:string[];
}
const { title, description, link, categories } = Astro.props;

import { t } from "i18next";

---

<div class="p-2 xl:p-4 md:p-4 xl:w-96 ">
    <div class="h-full bgmd-color  bg-opacity-75 px-8 pt-2 xl:pt-16 md:pt-16 pb-2 xl:pb-24 md:pb-24 rounded-lg overflow-hidden text-center relative">
      <h2 class="tracking-widest text-xs title-font font-medium lg-color mb-1">{categories}</h2>
      <h1 class="title-font sm:text-2xl text-xl font-medium dk-color mb-3">{title}</h1>
      <p class="leading-relaxed mb-3 p-2 rounded-xl bgdk-color lg-color">{description}</p>
    
      <a class="visit_btn inline-flex items-center transition duration-700 ease-in-out" href={link}>
		{t("card_project.btn")}
      </a>
      
    </div>
  </div>

  <style>
	.visit_btn{
		background-color:var(--darker-color);
		color:var(--lighter-color);
		padding:8px;
		border-radius:20px;
	}
	.visit_btn:hover{
		opacity: 90%;
	}

	.lg-color{
		color:var(--lighter-color)
	}
	.md-color{
		color:var(--mid-color);
	}
	.dk-color{
		color: var(--darker-color);
	}

    .bglg-color{
		background-color:var(--lighter-color)
	}
	.bgmd-color{
		background-color:var(--mid-color);
	}
	.bgdk-color{
		background-color: var(--darker-color);
	}


</style>