<div class="flex mt-2 ml-4">
    <a href="/contact" class="text-color text-3xl font-semibold px-2 py-1 rounded-xl transition duration-700 ease-in-out">Contact Me</a>
</div>

<style>
    .text-color{
        color:var(--lighter-color);
        border:1px solid var(--lighter-color);
    }
    .text-color:hover{
        color:var(--mid-color);
        border:1px solid var(--mid-color);
    }
</style>
