
<div class="flex mt-2 ml-4">
    <a href="/contact" class="border border-white md-border text-white text-3xl font-semibold px-2 py-1 rounded-xl transition duration-700 ease-in-out">Contact Me</a>
</div>

