---
export interface Props {
    link_text:string;
    link:string;
}
const { link_text, link } = Astro.props;
---

<li class="m-2 link_text transition duration-700 ease-in-out"><a href={link}>{link_text}</a></li>

<style>
    .link_text{
        color:var(--darker-color);
    }
    .link_text:hover{
        color:var(--lighter-color);
        transform: rotate(-20deg) scale(2,2);
    }

</style>